<!DOCTYPE html>
<html lang="ko">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <script src="/js/home/register.js" defer></script>
      <title>Document</title>
   </head>
   <body>
      <input id="nickname" type="text" placeholder="닉네임" /><br />
      <input id="email" type="text" placeholder="이메일" /><br />
      <input id="user_id" type="text" placeholder="아이디" /><br />
      <input id="password" type="text" placeholder="비밀번호" /><br />
      <input id="confirm-password" type="text" placeholder="비밀번호 확인" /><br />
      <p id="button">가입하기</p>
      <p>이미 회원이세요? <a href="/login"> 로그인 </a></p>
   </body>
</html>
